#knap{
  position: absolute;
  left: 90%;
  top: 5%;
  background-color:brown;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  
  header{
    background-color:rgb(124, 21, 21);
    text-align:center;
    height: 8em;
    color: aliceblue;
  
  }